header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #2C3E50;
    color: white;
    
    // sombra hacia abajo
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2);
    h1{
        font-size: 1.5rem;
        margin: 0;
        
    }
}